html {
    background: #1B1B1F;
    padding: 50px;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 65%;
    height: 200px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #202127;
}

.input-card button {
    width: 10%;
    height: 60px;
    max-width: 200px;
    border-radius: 60px;
    border: none;
    outline: none;
    background: #676DE7;
    flex-shrink: 0;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 25px;

    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 0.9vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-card button:active {
    background: #4e54c8; 
    color: #cfd8dc; 
    transform: scale(0.98);
}

.input-row {
    width: 100%;
    height: 75px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
}

#vectorV:focus, 
#rotationAngle:focus {
    color: #404040;
    font-weight: 500;
}

#vectorV {
    width: 85%;
    border-radius: 60px;
    background: #FFF;
    margin-left: 40px;
    margin-right: 10px;
    color: #808080;
    padding-left: 25px;

    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#rotationAngle {
    width: 15%;
    border-radius: 60px;
    background: #FFF;
    margin-right: 40px;
    margin-left: 10px;
    color: #808080;
    padding-left: 20px;

    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 67%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.projection, 
.reflection, 
.rotation {
    width: 30%;
    max-width: 30%;
    height: 330px;
    border-radius: 40px;
    background: #202127;
    padding: 20px;
    box-sizing: border-box;
}

.reflection {
    margin-right: 10px;
    margin-left: 10px;
}

.projection-text,
.reflection-text, 
.rotation-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50px;
    max-width: 90%;
    margin: auto;
    justify-content: center;
    border-radius: 30px;
    background: #2B2F36;
    
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projection-result, 
.reflection-result, 
.rotation-result {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.github {
    text-align: center;
    padding: 30px;
}

.github svg {
    cursor: pointer;
    fill: #FFF;
}

.github a:hover svg {
    fill: #888;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    
}

footer p {
    color: #98989F;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 5px 0;
}
